form {
  display: flex;
  flex-wrap: wrap;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #6e6a86;
  border-radius: 4px;
  background-color: #1f1d2e;
  color: #e0def4;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #31748f;
  color: #e0def4;
  cursor: pointer;
  flex: 0 0 auto;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  input {
    flex: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  button {
    flex: 100%;
  }
}

